# Copy this file to .env and update values for your environment
JIRA_PAT=replace_with_pat
APP_JIRA_SYNC_CONFIG=jira_sync_config.json
APP_OUTPUT_DIR=Report CSV
APP_SQL_TEMPLATE_DIR=sql_templates
APP_LIST_DELIMITER= | 
